.footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100px;
    color: var(--secondary-color);
    border-top: 1px solid var(--neutral-color);
}