@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Newsreader:wght@400;600;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif; 
}

body {
  background-color: #f4f4f4;
}

header {
  background-color: black;
  color: white;
  padding: 0; 
  height: 100px; 
  display: flex;
  align-items: flex-end; 
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  margin: 0 auto;
}

.logo {
  display: flex;
  align-items: flex-end; /* Faz com que os elementos fiquem alinhados na parte inferior */
  height: 100px; /* Mantém um tamanho fixo */
}

.logo img {
  height: 115px; /* Ajuste o tamanho da Ada */
  margin-right: 10px;
  position: relative;
  bottom: -16px; /* Ajuste fino para colar no fundo preto */
  right: 90px;
}

.texto-casi {
  margin: 0; /* Remove espaçamentos extras do texto */
  align-self: center; /* Mantém o texto centralizado verticalmente */
  font-family: 'Newsreader', serif; /* Aplica a fonte */
  font-weight: 500; /* Define como Medium */
  font-size: 30px;
  position: relative;
  left: -100px; /* Move o texto para a esquerda */
}

.texto-casi h1 {
  font-size: 30px; /* Ajuste do tamanho do texto */
  font-family: 'Newsreader', serif;
  font-weight: 500; /* Mantém a versão Medium */
  margin: 0; 
}


nav ul {
  list-style: none;
  display: flex;
  gap: 20px;
  font-family: 'Inter', sans-serif;
  font-weight: 400; /* Usa Inter Regular */
}

nav ul li {
  display: inline;
}

nav ul li a {
  text-decoration: none;
  color: white;
  font-size: 16px;
  font-family: 'Inter', sans-serif;
  font-weight: 400; /* Usa Inter Regular */
}

.btn {
  background-color: white;
  color: black;
  padding: 5px 15px;
  border-radius: 5px;
  font-weight: bold;
  font-family: 'Inter', sans-serif;
  font-weight: 400; /* Usa Inter Regular */
}
